@model BaiTapTuan7.Models.tb_Users
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_ForgotPasswordLayout.cshtml";
}

<div class="container">
    <div id = "PlaceHolderHere"></div>
    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
                                    <p class="mb-4">
                                        We get it, stuff happens. Just enter your email address or username below
                                        and we'll send you a link to reset your password!
                                    </p>
                                </div>
                                <form class="user" id="frm-resetPassword" action="/Home/ForgotPassword" method="post">
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user"
                                               id="email" name="email" aria-describedby="emailHelp"
                                               placeholder="Enter Email Address...">
                                    </div>
                                    <div class="form-group">
                                        <div id="err_request"></div>
                                        <div id="waiting" style="display: none;">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                                    Please Wait...
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btn-user btn-block" type="submit">
                                        Reset Password
                                    </button>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="@Url.Action("Register","Home")">Create an Account!</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="@Url.Action("Index","Home")">Already have an account? Login!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

