<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tech Edu - Forgot Password</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Assets/Admin/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    @RenderBody()


    <!-- Bootstrap core JavaScript-->
    <script src="~/Assets/Admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/Assets/Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Assets/Admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Assets/Admin/js/sb-admin-2.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#frm-resetPassword").submit(function (e) {
                if ($("#email").val() == '') {
                    $('#err_request').html('<div class="alert alert-danger">Username or email is empty</div>');
                    $("#email").focus();
                    return false;
                }
                else {
                    var form_data_requestPassword = {
                        email: $("#email").val(),
                    };
                    $.ajax({
                        url: '/Home/ForgotPassword',
                        type: 'POST',
                        async: true,
                        data: form_data_requestPassword,
                        success: function (msg_request) {
                            if (msg_request == "false") {
                                $('#err_request').html('<div class="alert alert-danger">Username or email not found</div>');
                                $("#email").val("");
                                $("#email").focus();
                                return false;
                            }
                            else {
                                $('#err_request').html('<div class="alert alert-success"><strong>Success. Please check your email to get reset password link</strong></div>');
                                setTimeout(
                                    //chuyển đến địa chỉ msg_login của controler gửi qua
                                    function () {
                                        window.location.href = '' + msg_request + '';
                                    }, 2000);
                            }
                        }
                    });
                }
                return false;
            });
        })
        //Load wating bar
    </script>
</body>

</html>