<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Didactic an Education Category Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Didactic a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <link href="/Assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="/Assets/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="/Assets/css/simpleLightbox.css" rel="stylesheet" type="text/css" /><!-- gallery css file -->
    <link href="/Assets/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="/Assets/css/flexslider.css" type="text/css" media="screen" property="" />
    <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
</head>
<body>
    <!-- banner -->
    <div class="w3layouts-banner">
        <div class="container">
            <nav class="navbar navbar-default">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1><a class="navbar-brand" href="#">DIDACTIC</a></h1>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="#index.html" class="page-scroll">Home</a></li>
                        <li><a href="#about" class="page-scroll">About</a></li>
                        <li><a href="#services" class="page-scroll">Services</a></li>
                        <li><a href="#team" class="page-scroll">Team</a></li>
                        <li><a href="#gallery" class="page-scroll">Gallery</a></li>
                        <li><a href="#testimonials" class="page-scroll">Testimonials</a></li>
                        <li><a href="#contact" class="page-scroll">Contact</a></li>
                   </ul>    
                    <form class="navbar-form navbar-left">
                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#dang_nhap">Signin
                        </button>
                    </form>
                    <div class="modal fade" id="dang_nhap">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" style="color:white">Đăng nhập</h4>
                                </div>
                                <form method="post" action="/Home/DangNhap" id="frm-login">
                                    <div class="modal-body">
                                        <div id="err_login"></div>
                                        <div id="login_here">
                                            <label style="color:White">Username : </label>
                                            <input type="text" class="form-control" name="username" id="username"/>
                                            <label style="color:White">Password : </label>
                                            <input type="password" class="form-control" name="password" id="password" />
                                            <br />
                                            <a href="/Home/QuenMatKhau" class="text-danger">Quên mật khẩu</a>
                                        </div>
                                        <br />
                                        <div id="waiting" style="display: none;">
                                            <div class="progress progress-striped active">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary" id="login_btn">Đăng nhập</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal" style="color:White">Close</button>
                                    </div>
                                </form>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->

                </div><!-- /.navbar-collapse -->

            </nav>
            <div class="w3l_banner_info">

                <section class="slider">
                    <div class="flexslider">

                        <ul class="slides">
                            <li>
                                <div class="wthree_banner_info_grid">
                                    <h3>Education Is Life</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut laoreet nibh at ligula pharetra, eu semper dui tristique. Phasellus mi sapien.</p>
                                </div>
                            </li>
                            <li>
                                <div class="wthree_banner_info_grid">
                                    <h3>Never Stop Learning</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut laoreet nibh at ligula pharetra, eu semper dui tristique. Phasellus mi sapien.</p>
                                </div>
                            </li>
                            <li>
                                <div class="wthree_banner_info_grid">
                                    <h3>Learning Never Ends</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut laoreet nibh at ligula pharetra, eu semper dui tristique. Phasellus mi sapien.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>


            </div>

        </div>
    </div>
    <!-- //banner -->
    @RenderBody()
    <!-- Footer-->
    <div class="footer">
        <div class="container">
            <div class="col-md-4 agile_l">
                <h3>Didactic</h3>
                <p class="w3_pght">Lorem Ipsum ist ein einfacher Demo-Text für die Print- und Schriftindustrie.Lorem Ipsum ist ein einfacher Demo-Text für die Print- und Schriftindustrie</p>
                <a href="mailto:info@example.com"> Support@didactic.com</a>
            </div>
            <div class="col-md-5 w3l_c">
                <h3>NewsLetter</h3>
                <div class="row">
                    <form action="#" method="post">
                        <div class="col-md-8 w3l_s">
                            <input type="email" name="email" placeholder="Email" required="">
                        </div>
                        <div class="col-md-4 w3_c">
                            <input type="submit" value="subscribe">
                        </div>
                    </form>

                </div>
                <h4>Follow Us On</h4>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
            <div class="col-md-3 wthree_l">
                <h4>Contact Address</h4>
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <p>28Hk brs, provincial park,avenue road, California</p>
                <i class="fa fa-phone" aria-hidden="true"></i>
                <p>
                    Tel : +(12) 498 5563 3312     ,
                    +(12) 498 5563 3439
                </p>
                <i class="fa fa-fax" aria-hidden="true"></i>
                <p>Fax : +(12) 498 5563 2178</p>
                <i class="fa fa-user" aria-hidden="true"></i>
                <p>Contact Name : Jamie</p>
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <p><a href="mailto:info@example.com">info@examplemail.com</a></p>

            </div>

            <div class="clearfix"></div>
        </div>

    </div>

    <div class="footerdown">
        <p>&copy; Didactic 2018. All Rights Reserved | Design by <a href="https://w3layouts.com/" target="blank">W3layouts</a></p>
    </div>
    <!--/Footer-->
    <script src="/Assets/js/jquery.min.js"></script>
    <script src="/Assets/js/jquery.easing.min.js"></script>
    <script src="/Assets/js/move-top.js"></script>
    <script src="/Assets/js/bootstrap.min.js"></script>
    <script src="/Assets/js/grayscale.js"></script>
    <script src="/Assets/js/SmoothScroll.min.js"></script>
    <script defer src="/Assets/js/jquery.flexslider.js"></script>
    <script src="/Assets/js/simpleLightbox.js"></script>
    <script type="text/javascript">
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });
    </script>

    <!-- Light box js-file-->

    <script>
        $('.w3layouts_gallery_grid a').simpleLightbox();
    </script>
    <!-- //Light box js-file-->

    <script>
        var menuRight = document.getElementById('cbp-spmenu-s2'),
            showRightPush = document.getElementById('showRightPush'),
            body = document.body;

        showRightPush.onclick = function () {
            classie.toggle(this, 'active');
            classie.toggle(body, 'cbp-spmenu-push-toleft');
            classie.toggle(menuRight, 'cbp-spmenu-open');
            disableOther('showRightPush');
        };

        function disableOther(button) {
            if (button !== 'showRightPush') {
                classie.toggle(showRightPush, 'disabled');
            }
        }
    </script>

    <!-- Move-Top JS-->
    <script type="text/javascript">
        $(document).ready(function () {
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            $().UItoTop({ easingType: 'easeOutQuart' });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#frm-login").submit(function (e) {
                if ($("#username").val() == '') {
                    $('#err_login').html('<div class="alert alert-danger">Username chưa nhập</div>');
                    $("#username").focus();
                    return false;
                }
                else if ($("#password").val() == '') {
                    $('#err_login').html('<div class="alert alert-danger">Password chưa nhập</div>');
                    $("#password").focus();
                    return false;
                }
                else {
                    var form_data_login = {
                        username: $("#username").val(),
                        password: $("#password").val()
                    };
                    $.ajax({
                        url: '/Home/DangNhap',
                        type: 'POST',
                        async: true,
                        data: form_data_login,
                        success: function (msg_login) {
                            //alert(msg);
                            if (msg_login == 'false') {
                                $('#err_login').html('<div class="alert alert-danger">Tên hoặc mật khẩu không chính xác</div>');
                                $("#password").val("");
                                $("#password").focus();
                                return false;
                            }
                            else if (msg_login == 'er_block') {
                                $('#err_login').html('<div class="alert alert-danger">Tài khoản đang bị khóa</div>');
                            }
                            else {
                                $("#login_here").hide();
                                $(".modal-footer").hide();

                                $('#err_login').html('<div class="alert alert-success"><strong>Đăng nhập thành công</strong><span> Hệ thống tự chuyển sau vài giây ...</span></div>');
                                setTimeout(
                                    //chuyển đến địa chỉ msg_login của controler gửi qua
                                    function () {
                                        window.location.href = '' + msg_login + '';
                                    }, 2000);
                            }
                        }
                    });
                    return false;
                }
            });
        })
        //Load wating bar
        $(document).ajaxStart(function () {
            $("#waiting").show();
        }).ajaxStop(function () {
            $("#waiting").hide();
        });
    </script>
    <!-- /Move-Top JS-->
</body>
</html>